.bookCard {
    text-decoration: none;
    width: 290px;
    word-wrap: break-word;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
    background: #ecf0f3;
}